footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 640px;
    display: flex;
    max-width: 1600px;
    color: $white;
    background-image: url(../../images/bg_footer-mobile.svg);
    @include media-query('tablet'){
        background-image: url(../../images/bg_footer-desktop.svg);
        height: 740px;
    }
    div{
        align-self: end;
    }
}
