.footer-team {
    background-color: $bg-third;
}

footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 640px;
    display: flex;
    color: $white;
    max-width: 1600px;
    background-image: url(../../images/bg_footer-mobile.svg);
    @include media-query('tablet'){
        background-image: url(../../images/bg_footer-desktop.svg);
        height: 740px;
    }
    nav{
       place-self: end;
       padding-bottom: .90rem ;
        .footer-navigation{
            >li{
                @include button-base;
            }
        }
        
    }
    .container{
        width: 100%;
        align-self: end;
        >p{
            text-align: center;
            padding: 1rem;
        }
    }
    .content{
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        border-bottom:1px solid $white;
        .social{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            place-self: end;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: .5rem;
            text-align: center;
        }
    
    .newsletter{
        width: 21.125rem;
        .newsletter-text{
            padding: 0 0 0.5rem 0.5rem;
        }
        .newsletter-form{
            position: relative;
        }
        input{
            padding: 1rem;
            width: 100%;
            border-radius: 1.875rem;
        }
        button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1%;
            background-color: $red-cta;
            color: white;
            border-radius: 1.875rem;
            display: flex;
            padding: 0.85rem 1.5rem;
            justify-content: flex-end;
            align-items: center;
            gap: 0.625rem;
        }
    }
}
}


