html {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: $nunito;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: $garamond;
  font-weight: 600;

}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h3 {
  font-family: $nunito;
  font-weight: 900;
}


button, input{
  font-family: $nunito;
  cursor: pointer;
  border: none;
  outline: none;
}

