@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap");

/* ------ COLOR ------ */
$blue-navy-primary: #1c4e89;
$blue-light-secondary: #ddeaf8;
$turquoise: #7dcfb6;
$white: #fff;
$black: #000;
$smokewhite: #f5f5f5;
$charcoal: #3b3b3b;
$red-cta: #f62f2f;

/* ------ COLOR THEME ------ */
$color-primary: $blue-navy-primary;
$color-secondary: $blue-light-secondary;
$color-cta: $red-cta;
$color-accent: $turquoise;
$bg-primary: $smokewhite;
$bg-secondary: $blue-navy-primary;
$bg-third: $blue-light-secondary;

/* ------ FONTS ------ */
$nunito: "Nunito", sans-serif;
$garamond: "Cormorant Garamond", sans-serif;

/* ------ BREAKPOINTS ------ */
$xs-screen: 480px;
$s-screen: 640px;
$m-screen: 768px;
$l-screen: 1024px;
$xl-screen: 1280px;

/* ------ PADDING ------ */
$p-mobile: 0 20px;
$p-tablet: 0 40px;
$p-desktop: 0 70px;
