.looking-future {
    // background-color: $blue-light-secondary;

    .looking-future__bg-top {
        background-image: url("../../../assets/images/bg_top_looking_future.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: auto;
        height: 50px;
    }
}