.map {
  background-image: url(../../../assets/images/bg_map.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  padding: 20% 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @include media-query("tablet") {
      gap: 2rem;
    }
    @include media-query("desktop") {
      gap: 3rem;
    }

    #map {
      height: 200px;
      width: 300px;

      @include media-query("tablet") {
        height: 400px;
        width: 600px;
      }

      @include media-query("desktop") {
        height: 600px;
        width: 1000px;
      }
    }
  }

  h2 {
    color: $white;
  }
}
