.map {
  background-image: url(../../../assets/images/bg_map.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  padding: 20% 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    @include media-query("tablet") {
      gap: 2rem;
    }
    @include media-query("desktop") {
      gap: 3rem;
    }

    #map {
      height: 200px;
      width: 300px;

      @include media-query("tablet") {
        height: 400px;
        width: 600px;
      }

      @include media-query("desktop") {
        height: 600px;
        width: 1000px;
      }
    }
  }

  h2 {
    color: $white;
  }
}

.map__modal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  &-img {
    width: 100px;
  }
}

.leaflet-popup-content-wrapper {
  max-width: 80% !important;
  @include media-query("tablet") {
    max-width: none;
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-content {
  max-width: 80% !important;
  overflow-y: scroll;
  @include media-query("tablet") {
    max-width: none;
    overflow: hidden;
  }
}
