.vision-section {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1600px;

  .vision-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .vision-image-wrapper,
  .vision-text {
    width: 100%;
    height: 400px;
  }

  .vision-image-wrapper {
    overflow: hidden;
  }

  .vision-image {
    min-width: 100%;
    min-height: 100%;
  }

  @include media-query("desktop") {
    flex-direction: row;
    height: 400px;

    .vision-image-wrapper,
    .vision-text {
      width: 50%;
    }

    .vision-text {
      padding: 2rem;
    }
  }

  @include media-query("desktop-xl") {
    flex-direction: row;
    height: 500px;

    .vision-image-wrapper,
    .vision-text {
      width: 50%;
      height: 500px;
    }

    .vision-text {
      padding: 2rem;
    }
  }
}
