.vision-section {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .vision-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .vision-image-wrapper, .vision-text {
        width: 350px;
        height: 400px;
    }

    .vision-image-wrapper {
        overflow: hidden;
    }

    .vision-image {
        min-width: 100%;
        min-height: 100%;
    }

    @include media-query('mobile') {
        .vision-image-wrapper, .vision-text {
            width: 450px;
            height: 400px;
        }
    }

    @include media-query('tablet') {
        .vision-image-wrapper, .vision-text {
            width: 600px;
            height: 400px;
        }

        .vision-text {
            padding: 1rem;
        }
    }

    @include media-query('desktop') {
        flex-direction: row;
        width: 800px;
        height: 400px;

        .vision-image-wrapper, .vision-text {
            width: 400px;
            height: 400px;
        }

        .vision-text {
            padding: 1rem;
        }
    }

    @include media-query('desktop-xl') {
        flex-direction: row;
        width: 1200px;
        height: 500px;

        .vision-image-wrapper, .vision-text {
            width: 600px;
            height: 500px;
        }

        .vision-text {
            padding: 1rem;
        }
    }


}